.btnlist a {
  display: block;
  padding: 1px 20px;
  margin: 10px 0;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.12);
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #192176;
}

.btnlist a:hover {
  background-color: #1565c0;
}

.btnlist a:active {
  transform: scale(0.98);
}

h1 {
  color: #192176;
  text-align: center;
}

@media (max-width: 600px) {
  .btnlist a {
    font-size: 20px;
    padding: 18px;
  }
}
